<!-- app/views/cocktails/_form.html.erb -->
<%= simple_form_for @cocktail do |f| %>
  <% if @cocktail.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<%= f.input :name %>
<%= f.button :submit, class: 'btn btn-ghost' %>
<% end %>
