<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/110472/pexels-photo-110472.jpeg?cs=srgb&dl=alcohol-bar-barman-110472.jpg&fm=jpg);">
  <div class="container">
    <h1>Le Drinks</h1>
    <h2>
      <span id='typed'></span>
    </h2>
    <%= link_to 'Create a drink', new_cocktail_path(@cocktail), class: 'btn btn-gradient bg-white' %>
<!--     <a class="btn btn-gradient bg-white" href="">Discover now!</a>
 -->  </div>
</div>

<div class="cards p-5">
<% @cocktails.each do |cocktail| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path(cocktail.photo, width: 400, height: 300, crop: :fill) %>')">
    <%= link_to cocktail.name, cocktail_path(cocktail), class: 'card-link' %>
    <%= link_to cocktail_path(cocktail), method: "delete", data: {confirm: "Are you sure?"}, class: 'trash-icon' do %>
      <i class="fas fa-trash fa-xs"></i>
    <% end %>
  </div>
<% end %>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made with <i class="fas fa-headphones-alt"></i>  and alot of <i class="fas fa-mug-hot"></i> at Le Wagon
  </div>
</div>

