<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?{drinks},{<%=@cocktail.name%>})">
  <%= @cocktail.name %>
</div>
<%= link_to 'Back', root_path, class: 'btn btn-ghost' %>

